
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
  

 
}

.mainContainer {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: center;
}

.wrapper {
   /*  border: 1px dotted red; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 85%;
    align-self: center;
}

.logo {
    width: 70px;
    height: fit-content;
    
}